@page "/todo"

@inject IToDoService todoService


@if (todoItems == null)
{
    <p>No Todo Items found...</p>
}
else
{
    <ul>
        @foreach (var item in todoItems)
        {
            <li>@item</li>
        }
    </ul>
}

@code {
    private string[]? todoItems;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            todoItems = await todoService.GetToDosAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}